/* Reset default margin dan padding browser */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html, body {
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
  position: relative;
  /* -webkit-overflow-scrolling: touch;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none; */
}

#root {
  width: 100%;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

/* khusus tombol & element interaktif biar lebih clean */
button, a, div, svg {
  -webkit-tap-highlight-color: transparent;
}